body{
background-image:url("http://ellacatherine.github.io/home/portfolio/bluebackground.jpg");
  background-repeat: repeat;
  }


div {
	border-radius: 50px;
}

#header {
	position: absolute;
   z-index: 1;
	width: 850px;
	height: 300px;
	margin-top: 25px;
  margin-left: 25px;
  margin-right:25px;
  
	background:
    url(http://ellacatherine.github.io/home/portfolio/italy.jpg); 
  opacity:.8;
}

#name {
	float:left;
   position:absolute;
	margin-left: 40px;
	padding-top: 210px;
	font-size: 40px;
	font-family: Brush Script MT;
	color: #ffffff;
}

a:hover {
	;
}

#content {
	z-index:-1;
	position: relataive;
	margin:auto;
	width: 900px;
	height: 1300px;
	background-color: #ffffff;
	
}
 
#navbar {
	position: absolute;
  margin-top:330px;
  
}

 ul{
   list-style-type:none;
 }

li{
  display:inline;
  padding: 30px;
  font-family:Papyrus; 
  font-size:25px;
  color:#799c4b;
  }
a{
  text-decoration:none;
  color:#799c4b;
}

img {
  margin-top:420px;
  width:600px;
  }

h1
{
  font-family:Goudy Old Style;
  color:#799c4b;
}